<main class="container-fluid">
  <div fxLayout="column" style="height: 100%;">
    <h1 class="centeredContent">
      Welcome to Career Service App!
    </h1>
  </div>
  <ng-container *ngIf="loggedUser; else elseTemplate">
    <ng-container *ngIf="loggedUser.authority === 'ROLE_EMPLOYER'; else elseTemplate">
      Welcome {{ loggedUser.companyName }}
    </ng-container>
    <ng-template #elseTemplate>
      Welcome {{ loggedUser.firstName }} {{ loggedUser.lastName }}
    </ng-template>
  </ng-container>
  <ng-template #elseTemplate class="d-md-flex my-md-3 ps-md-3">
    
    <div class="row">
      <div class="col">
        <mat-card class="job-posting">
          <mat-card-title style="text-align: center;">Candidate</mat-card-title>
          <mat-card-content>
            <img src="/assets/candidate.png" style="max-width: 300px; max-height: 300px;">
          </mat-card-content>
          <mat-card-actions class="button-container">
            <button mat-raised-button color="primary" (click)="login(Authority.CANDIDATE)">
              Candidate Login
            </button>
            <button mat-raised-button color="primary" (click)="signup(Authority.CANDIDATE)">
              Candidate Signup
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    
      <div class="col">
        <mat-card class="job-posting">
          <mat-card-title>Employer</mat-card-title>
          <img mat-card-image src="/assets/employer.png" style="max-width: 300px; max-height: 300px;">
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions class="button-container">
            <button mat-raised-button color="primary" (click)="login(Authority.EMPLOYER)">
              Employer Login
            </button>
            <button mat-raised-button color="primary" (click)="signup(Authority.EMPLOYER)">
              Employer Signup
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    
      <div class="col">
        <mat-card class="job-posting">
          <mat-card-title>Admin</mat-card-title>
          <img mat-card-image src="/assets/admin.png" style="max-width: 300px; max-height: 300px;">
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions class="button-container">
            <button mat-raised-button color="primary" (click)="login(Authority.ADMIN)">
              Admin Login
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-template>
</main>