<div class="container">
  <form [formGroup]="profileForm">
    <mat-form-field appearance="outline" class="field">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" placeholder="Enter first name">
      <mat-error *ngIf="profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].touched">
        First Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" placeholder="Enter last name">
      <mat-error *ngIf="profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].touched">
        Last Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter email">
      <mat-error *ngIf="profileForm.controls['email'].invalid && profileForm.controls['email'].touched">
        <span *ngIf="profileForm.get('email')?.errors?.['required']">Email is required</span>
        <span *ngIf="profileForm.get('email')?.errors?.['email']">Invalid email format</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phoneNumber" placeholder="Enter phone number">
      <mat-error *ngIf="profileForm.controls['phoneNumber'].invalid && profileForm.controls['phoneNumber'].touched">
        Phone number should contain only digits
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="createProfile()" [disabled]="profileForm.invalid">
      Save
    </button>
  </form>

  <div class="button-group">
    <div *ngIf="resumeExists" appearance="outline" class="field" style="margin-top: 20px;">
      <h2>Download Resume</h2>
      <a id="downloadButton" mat-raised-button color="primary" (click)="onUpload()">Download</a>
    </div>
    <div  appearance="outline" class="field" style="margin-top: 20px;">
      <h2>Generate Resume</h2>
      <a id="generateButton" mat-raised-button color="primary" (click)="onGenerate()">Generate</a>
    </div>
    <div appearance="outline" class="field" style="margin-top: 20px;">
      <h2>Upload Resume</h2>
      <input type="file" (change)="onFileSelected($event)">
      <button mat-raised-button color="primary" (click)="onUpload()" [disabled]="!selectedFile" style="margin-top: 20px;">Upload</button>
    </div>
  </div>
</div>
