<div class="container">

  <div *ngFor="let job of allJobsList">
    <mat-card class="job-posting">
      <mat-card-content>
        <div class="job-title">{{ job.position }}</div>
        <div class="job-company">{{ job.employer.companyName }}</div>
        <div class="job-location">{{ job.location }}</div>
        <div class="job-description">{{ job.description }}</div>
        <div class="job-salary">{{ job.requirements }}</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="applyToJob(job.id)">Apply</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
